<div class="col mb-4">
  <div class="card h-100">
    <h5 class="card-header bg-success text-light">
      <%= donation.name %>
    </h5>
    <%= donation.card_image %>
    <div class="card-body d-flex flex-column">
      <h6 class="card-subtitle mb-2">
        <b><%= donation.allergen_information %></b>
        <hr>
      </h6>
      <p class="card-text">
        <%= donation.description %>
      </p>
      <%= link_to icon('info-circle') + " View Donation", donation, class: 'btn btn-outline-primary mt-auto' %>
    </div>
    <div class="card-footer">
      <small class="text-muted">
        Available for <%= donation.available_until_formatted %>
      </small>
    </div>
  </div>
</div>
