<%= search_form_for @query do |f| %>
  <div class="row justify-content-center">
    <%= f.label :is_perishable_eq, 'Is Perishable?' %>
    <%= f.select :is_perishable_eq, [['Yes', true], ['No', false]], include_blank: 'Any' %>

    <%= f.label :requires_preparation_eq, 'Requires Preparation?' %>
    <%= f.select :requires_preparation_eq, [['Yes', true], ['No', false]], include_blank: 'Any' %>

    <%= f.label :is_vegetarian_eq, 'Is Vegetarian?' %>
    <%= f.select :is_vegetarian_eq, [['Yes', true], ['No', false]], include_blank: 'Any' %>

    <%= f.label :is_vegan_eq, 'Is Vegan?' %>
    <%= f.select :is_vegan_eq, [['Yes', true], ['No', false]], include_blank: 'Any' %>

    <%= f.label :contains_gluten_eq, 'Contains Gluten?' %>
    <%= f.select :contains_gluten_eq, [['Yes', true], ['No', false]], include_blank: 'Any' %>

    <%= f.label :contains_peanuts_eq, 'Contains Peanuts?' %>
    <%= f.select :contains_peanuts_eq, [['Yes', true], ['No', false]], include_blank: 'Any' %>

    <%= f.label :contains_tree_nuts_eq, 'Contains Tree Nuts?' %>
    <%= f.select :contains_tree_nuts_eq, [['Yes', true], ['No', false]], include_blank: 'Any' %>

    <%= f.label :contains_dairy_eq, 'Contains Dairy?' %>
    <%= f.select :contains_dairy_eq, [['Yes', true], ['No', false]], include_blank: 'Any' %>

    <%= f.label :contains_soy_eq, 'Contains Soy?' %>
    <%= f.select :contains_soy_eq, [['Yes', true], ['No', false]], include_blank: 'Any' %>

    <%= f.label :contains_egg_eq, 'Contains Egg?' %>
    <%= f.select :contains_egg_eq, [['Yes', true], ['No', false]], include_blank: 'Any' %>

    <%= f.label :contains_fish_eq, 'Contains Fish?' %>
    <%= f.select :contains_fish_eq, [['Yes', true], ['No', false]], include_blank: 'Any' %>

    <%= f.label :contains_fish_eq, 'Contains Shellfish?' %>
    <%= f.select :contains_fish_eq, [['Yes', true], ['No', false]], include_blank: 'Any' %>
  </div>
  <div class="row justify-content-center mt-2">
    <div class="btn-group">
      <%= f.submit 'Filter', class: 'btn btn-primary' %>
      <%= link_to 'Clear', donations_path, class: 'btn btn-outline-danger' %>
    </div>
  </div>
<% end %>
