<div class="jumbotron jumbotron-fluid mt-4">
  <div class="container">
    <div class="row justify-content-center">
      <h1 class="display-4">About Share the Food</h1>
      <p class="lead m-3">
        Share the Food aims to connect those who have extra food, with those who are hungry.
        Every year in America, <%= link_to '30-40% of the food supply is thrown away.', 'https://www.usda.gov/foodwaste/faqs' %>
        Meanwhile, <%= link_to 'millions of Americans are food insecure.', 'https://www.ers.usda.gov/topics/food-nutrition-assistance/food-security-in-the-us/key-statistics-graphics.aspx' %>
        Any individual or business that has extra food, that would otherwise be thrown out,
        can <%= link_to 'create an account', new_user_registration_path %> and <%= link_to 'add their food as a donation', new_donation_path %> on this website.
        Anyone who is hungry can <%= link_to 'browse donations near them', donations_path %> and go pick them up.
        No account is required to browse donations.
      </p>
      <div class="btn-group btn-group-lg">
        <%= link_to 'Add a Donation', new_donation_path, class: 'btn btn-outline-primary' %>
        <%= link_to 'View Nearby Donations', donations_path, class: 'btn btn-outline-primary' %>
      </div>
    </div>
  </div>
</div>