<% description 'Share the Food connects those who have extra food, with those who are hungry.' %>
<% keywords 'Share the Food, Share, Food, Food Waste, Food Insecurity, Food Security, Hungry, Hunger, Donation, Food Donation, Donate, Extra Food, New Donation, Donate Food' %>
<% set_meta_tags index: true %>

<div class="jumbotron jumbotron-fluid mt-4">
  <div class="container">
    <div class="row justify-content-center">
      <h1 class="display-4"><%= title 'About Share the Food' %></h1>
    </div>
    <h3>
      <ul>
        <li>Every year in America, <%= link_to '30-40% of the food supply is thrown away.', 'https://www.usda.gov/foodwaste/faqs', target: '_blank', rel: 'noopener noreferrer' %></li>
        <li>Meanwhile, <%= link_to 'over 10% of American households are food insecure.', 'https://www.ers.usda.gov/topics/food-nutrition-assistance/food-security-in-the-us/key-statistics-graphics.aspx', target: '_blank', rel: 'noopener noreferrer'  %></li>
      </ul>
    </h3>
    <h4 class="ml-3 mr-3">
      Share the Food's goal is to end both the problems of food waste and food insecurity by connecting those individuals
      and businesses with extra food to those households that are food insecure.
    </h4>
    <h5 class="ml-3 mr-3">
      Our goal is aligned with the United State
      <%= link_to 'Environmental Protection Agency\'s', 'https://www.epa.gov/sustainable-management-food/food-recovery-hierarchy#about', target: '_blank', rel: 'noopener noreferrer' %>
      and
      <%= link_to 'Department of Agriculture\'s', 'https://www.usda.gov/sites/default/files/usda-epa-food-recovery-hierarchy.jpg', target: '_blank', rel: 'noopener noreferrer' %>
      second most preferred method of reducing food waste, feeding hungry people.
    </h5>
    <h5 class="ml-3 mr-3">
      Any individual or business that has extra food, that would otherwise be thrown out, can
      <%= link_to 'create an account', new_user_registration_path %>
      and
      <%= link_to 'add that food as a donation.', new_donation_path %>
      Anyone who is hungry can
      <%= link_to 'browse nearby donations, no account required.', donations_path %>
    </h5>
    <%= link_to 'Add a New Donation', new_donation_path, class: 'btn btn-primary btn-lg btn-block ml-4 mr-4 mt-4' %>
    <%= link_to 'Browse Nearby Donations', donations_path, class: 'btn btn-primary btn-lg btn-block ml-4 mr-4' %>
  </div>
</div>
