<% set_meta_tags index: false %>

<div class="row justify-content-center">
  <h1><%= title 'Admin Dashboard' %></h1>
</div>

<div class="row justify-content-center">
  <h2>There Are <%= @visits.count %> Unique Visits To Date</h2>
</div>

<div class="row justify-content-center">
  <h4><b>User Visits per State</b></h4>
</div>
<canvas id="visits_map"></canvas>

<%= line_chart [{name: 'Users', data: @users.group_by_day(:created_at).count}], {title: 'Users Signed Up', subtitle: 'Grouped by Day', xtitle: 'Day', ytitle: 'Users Signed Up'} %>

<div class="row justify-content-center">
  <h4><b><%= @users.where(admin: true).count %> Admin User(s):</b></h4>
</div>
<ui class="list-group">
<% @users.where(admin: true).each do |admin_user| %>
    <li class="list-group-item"><%= admin_user.name %>: <%= admin_user.email %></li>
<% end %>
</ui>

<div class="row justify-content-center">
  <h2><%= @donations.count %> Donations To Date</h2>
</div>
<%= bar_chart [{name: 'Donations Created', data: @donations.kept.group_by_day(:created_at).count}, {name: 'Donations Claimed', data: @donations.discarded.group_by_day(:created_at).count}], {title: 'Donations Created and Claimed', subtitle: 'Grouped by Day', xtitle: 'Donations Created/Claimed', ytitle: 'Day'} %>

<%= line_chart [{name: 'Visits', data: @visits.group_by_day(:started_at).count}], {title: 'Visits', subtitle: 'Grouped by Day', xtitle: 'Day', ytitle: 'Visits'} %>
<%= pie_chart user_analytic_data_by_attribute(@visits, :os), {title: 'User Visits', subtitle: 'Grouped by Operating System'} %>
<%= pie_chart user_analytic_data_by_attribute(@visits, :browser), {title: 'User Visits', subtitle: 'Grouped by Internet Browser'} %>
<%= pie_chart user_analytic_data_by_attribute(@visits, :device_type), {title: 'User Visits', subtitle: 'Grouped by Device Type'} %>
<%= pie_chart user_analytic_data_by_attribute(@visits, :country), {title: 'User Visits', subtitle: 'Grouped by Country'} %>
<%= pie_chart user_analytic_data_by_attribute(@visits, :region), {title: 'User Visits', subtitle: 'Grouped by Region'} %>
<%= pie_chart user_analytic_data_by_attribute(@visits, :city), {title: 'User Visits', subtitle: 'Grouped by City'} %>
