
<%= simple_form_for(@donation) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.label :images %>
    <%= f.file_field :images, multiple: true %>
    <%= f.input :latitude %>
    <%= f.input :longitude %>
    <%= f.input :pickup_notes %>
    <%= f.input :available_until %>
    <%= f.input :is_perishable %>
    <%= f.input :requires_preparation %>
    <%= f.input :is_vegetarian %>
    <%= f.input :is_vegan %>
    <%= f.input :contains_gluten %>
    <%= f.input :contains_peanuts %>
    <%= f.input :contains_tree_nuts %>
    <%= f.input :contains_dairy %>
    <%= f.input :contains_soy %>
    <%= f.input :contains_egg %>
    <%= f.input :contains_fish %>
    <%= f.input :contains_shellfish %>
  </div>

  <div class="form-actions">
    <div class="btn-group">
      <%= f.button :submit, class: 'btn btn-primary' %>
      <%= link_to 'Back', :back, class: 'btn btn-outline-primary' %>
    </div>
  </div>
<% end %>
