
<%= simple_form_for(@donation) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name, as: :string %>
    <%= f.input :description %>
    <%= f.input :latitude %>
    <%= f.input :longitude %>
    <%= f.input :pickup_notes %>
    <%= f.input :available_until %>
    <%= f.file_field :images, multiple: true, direct_upload: true %>
    <%= f.input :is_perishable %>
    <%= f.input :requires_preparation %>
    <%= f.input :is_vegetarian %>
    <%= f.input :is_vegan %>
    <%= f.input :is_kosher %>
    <%= f.input :is_halal %>
    <%= f.input :contains_gluten %>
    <%= f.input :contains_peanuts %>
    <%= f.input :contains_tree_nuts %>
    <%= f.input :contains_dairy %>
    <%= f.input :contains_soy %>
    <%= f.input :contains_egg %>
    <%= f.input :contains_fish %>
    <%= f.input :contains_shellfish %>
  </div>

  <div class="form-actions btn-group btn-group-lg">
    <%= f.button :submit, class: 'btn btn-primary' %>
    <%= link_to 'Back', :back, class: 'btn btn-outline-secondary' %>
  </div>
<% end %>
