
<%= simple_form_for(@donation) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name, as: :string %>
    <%= f.input :description %>
    <%= f.input :latitude %>
    <%= f.input :longitude %>
    <%= f.input :pickup_notes, hint: 'How should this donation be picked up from the above location?' %>
    <%= f.input :available_until, as: :string %>
    <hr>
    <h4>Allergen and Dietary Restrictions Information</h4>
    <p>Please do your best to accurately fill this out. If you're unsure, its best to be more cautious then less.</p>
    <div class="row">
      <div class="col">
        <%= f.input :is_perishable, label: 'Is Perishable?',
                    hint: 'Does it need to be eaten right away?' %>
        <%= f.input :requires_preparation, label: 'Requires Preparation?',
                    hint: 'Does it require some extra prep work, such as an oven, microwave, etc.?' %>
        <%= f.input :is_vegetarian, label: 'Is Vegetarian?',
                    hint: 'Does it contain NO meat?' %>
        <%= f.input :is_vegan, label: 'Is Vegan?',
                    hint: 'Does it contain NO animal based products (meat, eggs, dairy, etc.)?' %>
        <%= f.input :is_kosher, label: 'Is Kosher?',
                    hint: 'Does' %>
        <%= f.input :is_halal, label: 'Is Halal?',
                    hint: 'Does' %>
        <%= f.input :contains_gluten, label: 'Contains Gluten?',
                    hint: 'Does' %>
      </div>
      <div class="col">
        <%= f.input :contains_peanuts, label: 'Contains Peanuts?',
                    hint: 'Check this even if it may contain peanuts.' %>
        <%= f.input :contains_tree_nuts, label: 'Contains Tree Nuts?',
                    hint: 'Check this even if it may contain tree nuts.' %>
        <%= f.input :contains_dairy, label: 'Contains Dairy?',
                    hint: 'Check this even if it may contain dairy.' %>
        <%= f.input :contains_soy, label: 'Contains Soy?',
                    hint: 'Check this even if it may contain soy.' %>
        <%= f.input :contains_egg, label: 'Contains Egg?',
                    hint: 'Check this even if it may contain egg.' %>
        <%= f.input :contains_fish, label: 'Contains Fish?',
                    hint: 'Check this even if it may contain fish.' %>
        <%= f.input :contains_shellfish, label: 'Contains Shellfish?',
                    hint: 'Check this even if it may contain shellfish.' %>
      </div>
    </div>
    <hr>
    <%= f.label :images, 'Upload one or more images of the donation:' %>
    <%= f.file_field :images, multiple: true, direct_upload: true, class: 'form-control-file' %>
  </div>
  <br>
  <div class="form-actions btn-group btn-group-lg">
    <%= f.button :submit, class: 'btn btn-primary' %>
    <%= link_to 'Back', :back, class: 'btn btn-outline-secondary' %>
  </div>
<% end %>