<%= form_with(model: donation, local: true) do |form| %>
  <% if donation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(donation.errors.count, "error") %> prohibited this donation from being saved:</h2>

      <ul>
        <% donation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_area :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :fresh_until %>
    <%= form.datetime_select :fresh_until %>
  </div>

  <div class="field">
    <%= form.label :latitude %>
    <%= form.text_field :latitude %>
  </div>

  <div class="field">
    <%= form.label :longitude %>
    <%= form.text_field :longitude %>
  </div>

  <div class="field">
    <%= form.label :pickup_notes %>
    <%= form.text_area :pickup_notes %>
  </div>

  <div class="field">
    <%= form.label :is_perishable %>
    <%= form.check_box :is_perishable %>
  </div>

  <div class="field">
    <%= form.label :requires_preparation %>
    <%= form.check_box :requires_preparation %>
  </div>

  <div class="field">
    <%= form.label :is_vegetarian %>
    <%= form.check_box :is_vegetarian %>
  </div>

  <div class="field">
    <%= form.label :is_vegan %>
    <%= form.check_box :is_vegan %>
  </div>

  <div class="field">
    <%= form.label :is_gluten_free %>
    <%= form.check_box :is_gluten_free %>
  </div>

  <div class="field">
    <%= form.label :contains_peanuts %>
    <%= form.check_box :contains_peanuts %>
  </div>

  <div class="field">
    <%= form.label :contains_tree_nuts %>
    <%= form.check_box :contains_tree_nuts %>
  </div>

  <div class="field">
    <%= form.label :contains_dairy %>
    <%= form.check_box :contains_dairy %>
  </div>

  <div class="field">
    <%= form.label :contains_soy %>
    <%= form.check_box :contains_soy %>
  </div>

  <div class="field">
    <%= form.label :contains_egg %>
    <%= form.check_box :contains_egg %>
  </div>

  <div class="field">
    <%= form.label :contains_fish %>
    <%= form.check_box :contains_fish %>
  </div>

  <div class="field">
    <%= form.label :contains_shellfish %>
    <%= form.check_box :contains_shellfish %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
