<% description 'View all nearby, available food donations.' %>
<% keywords 'Share the Food, View, Donations, View Donations, Food Donations, Nearby, Available, Food' %>
<% set_meta_tags index: true %>

<div class="row justify-content-center">
  <h1><%= title 'Available Donations' %></h1>
</div>

<%= render 'donations/index/map' %>

<%= render 'donations/index/search_bar' %>

<%= render 'donations/index/filter' %>
<br>

<div class="row justify-content-center">
  <h5><%== pagy_info(@pagination) %></h5>
</div>
<div class="row justify-content-center">
  <%== pagy_bootstrap_nav_js(@pagination) if @pagination.pages > 1 %>
</div>

<div class="row row-cols-1 row-cols-sm-1 row-cols-md-3 row-cols-lg-4 row-cols-xl-4">
  <% @donations.each do |donation| %>
    <%= render 'donations/index/donation_card', donation: donation %>
  <% end %>
</div>
<br>

<div class="row justify-content-center">
  <%== pagy_bootstrap_nav_js(@pagination) if @pagination.pages > 1 %>
</div>
