<p id="notice"><%= notice %></p>

<h1>Donations</h1>

<table class="table table-striped table-hover table-sm">
  <thead>
    <tr>
      <th class="table-primary"></th>
      <th class="table-primary">User</th>
      <th class="table-primary">Name</th>
      <th class="table-primary">Description</th>
      <th class="table-primary">Latitude</th>
      <th class="table-primary">Longitude</th>
      <th class="table-primary">Pickup Notes</th>
      <th class="table-primary">Available Until</th>
      <th class="table-primary">Perishable?</th>
      <th class="table-primary">Requires Preparation?</th>
      <th class="table-primary">Vegetarian?</th>
      <th class="table-primary">Vegan?</th>
      <th class="table-primary">Gluten Free?</th>
      <th class="table-primary">Contains Peanuts?</th>
      <th class="table-primary">Contains Tree Nuts?</th>
      <th class="table-primary">Contains Dairy?</th>
      <th class="table-primary">Contains Soy?</th>
      <th class="table-primary">Contains Egg?</th>
      <th class="table-primary">Contains Fish?</th>
      <th class="table-primary">Contains Shellfish?</th>
    </tr>
  </thead>

  <tbody>
    <% @donations.each do |donation| %>
      <tr>
        <td><%= link_to 'View', donation, class: 'btn btn-primary' %></td>
        <td><%= donation.user.email %></td>
        <td><%= donation.name %></td>
        <td><%= donation.description %></td>
        <td><%= donation.latitude %></td>
        <td><%= donation.longitude %></td>
        <td><%= donation.pickup_notes %></td>
        <td><%= donation.available_until %></td>
        <td><%= donation.is_perishable %></td>
        <td><%= donation.requires_preparation %></td>
        <td><%= donation.is_vegetarian %></td>
        <td><%= donation.is_vegan %></td>
        <td><%= donation.is_gluten_free %></td>
        <td><%= donation.contains_peanuts %></td>
        <td><%= donation.contains_tree_nuts %></td>
        <td><%= donation.contains_dairy %></td>
        <td><%= donation.contains_soy %></td>
        <td><%= donation.contains_egg %></td>
        <td><%= donation.contains_fish %></td>
        <td><%= donation.contains_shellfish %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%== pagy_bootstrap_nav_js(@pagination) %>
