<h1>Donation: <%= @donation.name %></h1>
<p><%= @donation.description %></p>

<p>Donated by: <%= @donation.user.name %></p>
<p>Available Until: <%= @donation.available_until %></p>

<%= render 'donations/images_carousel', donation: @donation %>

<p><%= @donation.pickup_notes %></p>
<div id="map"></div>

<hr>
<h2>Allergen and Dietary Restrictions Information</h2>
<br>
<div class="row">
  <div class="col">
    <p>Is Perishable? <strong><%= @donation.as_yes_or_no(@donation.is_perishable?) %></strong></p>
    <p>Requires Preparation? <strong><%= @donation.as_yes_or_no(@donation.requires_preparation?) %></strong></p>
    <p>Is Vegetarian? <strong><%= @donation.as_yes_or_no(@donation.is_vegetarian?) %></strong></p>
    <p>Is Vegan? <strong><%= @donation.as_yes_or_no(@donation.is_vegan?) %></strong></p>
    <p>Is Kosher? <strong><%= @donation.as_yes_or_no(@donation.is_kosher?) %></strong></p>
    <p>Is Halal? <strong><%= @donation.as_yes_or_no(@donation.is_halal?) %></strong></p>
    <p>Contains Gluten? <strong><%= @donation.as_yes_or_no(@donation.contains_gluten?) %></strong></p>
  </div>
  <div class="col">
    <p>Contains Peanuts? <strong><%= @donation.as_yes_or_no(@donation.contains_peanuts?) %></strong></p>
    <p>Contains Tree Nuts? <strong><%= @donation.as_yes_or_no(@donation.contains_tree_nuts?) %></strong></p>
    <p>Contains Dairy? <strong><%= @donation.as_yes_or_no(@donation.contains_dairy?) %></strong></p>
    <p>Contains Soy? <strong><%= @donation.as_yes_or_no(@donation.contains_soy?) %></strong></p>
    <p>Contains Egg? <strong><%= @donation.as_yes_or_no(@donation.contains_egg?) %></strong></p>
    <p>Contains Fish? <strong><%= @donation.as_yes_or_no(@donation.contains_fish?) %></strong></p>
    <p>Contains Shellfish? <strong><%= @donation.as_yes_or_no(@donation.contains_shellfish?) %></strong></p>
  </div>
</div>
<hr>
