<% if @donation.images.attached? %>
  <strong>Images:</strong><br>
  <% @donation.images.each do |image| %>
    <%= image_tag image.variant(resize_to_limit: [250, 250]) %>
  <% end %>
<% end %>

<p>
  <strong>Donated By:</strong>
  <%= @donation.user.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @donation.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @donation.description %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @donation.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @donation.longitude %>
</p>

<p>
  <strong>Pickup Notes:</strong>
  <%= @donation.pickup_notes %>
</p>

<p>
  <strong>Available Until:</strong>
  <%= @donation.available_until %>
</p>

<p>
  <strong>Is Perishable?</strong>
  <%= as_yes_or_no(@donation.is_perishable) %>
</p>

<p>
  <strong>Requires Preparation?</strong>
  <%= as_yes_or_no(@donation.requires_preparation) %>
</p>

<p>
  <strong>Is Vegetarian?</strong>
  <%= as_yes_or_no(@donation.is_vegetarian) %>
</p>

<p>
  <strong>Is Vegan?</strong>
  <%= as_yes_or_no(@donation.is_vegan) %>
</p>

<p>
  <strong>Is Gluten Free?</strong>
  <%= as_yes_or_no(@donation.is_gluten_free) %>
</p>

<p>
  <strong>Contains Peanuts?</strong>
  <%= as_yes_or_no(@donation.contains_peanuts) %>
</p>

<p>
  <strong>Contains Tree Nuts?</strong>
  <%= as_yes_or_no(@donation.contains_tree_nuts) %>
</p>

<p>
  <strong>Contains Dairy?</strong>
  <%= as_yes_or_no(@donation.contains_dairy) %>
</p>

<p>
  <strong>Contains Soy?</strong>
  <%= as_yes_or_no(@donation.contains_soy) %>
</p>

<p>
  <strong>Contains Egg?</strong>
  <%= as_yes_or_no(@donation.contains_egg) %>
</p>

<p>
  <strong>Contains Fish?</strong>
  <%= as_yes_or_no(@donation.contains_fish) %>
</p>

<p>
  <strong>Contains Shellfish?</strong>
  <%= as_yes_or_no(@donation.contains_shellfish) %>
</p>

<%= link_to 'Back', :back, class: 'btn btn-outline-primary' %>
