<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Subtitle</th>
      <th>Published</th>
      <th>User</th>
      <th>Discarded at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <% cache post do %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.subtitle %></td>
        <td><%= post.published %></td>
        <td><%= post.user_id %></td>
        <td><%= post.discarded_at %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>
