<h1><%= @post.title %></h1>
<h2><%= @post.subtitle %></h2>
<p><strong>Last Updated: </strong><%= @post.updated_at %></p>
<p><strong>Written By: </strong><%= @post.user.name %></p>
<hr>
<%= @post.body %>
<br>
<%= link_to :back, 'Back', class: 'btn btn-primary' %>