<!DOCTYPE html>
<html>
  <head>
    <!-- Denotes this application's character encoding as UTF-8. -->
    <meta charset="utf-8">
    <!-- Required Bootstrap meta tag. -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Required security meta tags. -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Import the application's CSS through Webpacker. -->
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- Import the application's Javascript through Webpacker. -->
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <title>Share the Food</title>
  </head>

  <body>
    <!-- Render the top navigation bar. -->
    <%= render 'layouts/navigation_bar' %>
    <!-- Render any alerts or notices. -->
    <%= render 'layouts/alerts' %>
    <!-- Render the current page's body. -->
    <div class="container">
      <%= yield %>
    </div>
    <!-- Render the bottom footer. -->
    <%= render 'layouts/footer' %>
  </body>
</html>
