<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- Required Bootstrap meta tag. -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Required security meta tags. -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Loads the application's stylesheets through Webpacker. -->
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- Loads the application's Javascript through Webpacker. -->
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <title>Share The Food</title>
  </head>

  <body>
    <%= render 'layouts/alerts' %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
