<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>

    <%= Gon::Base.render_data %>

    <%= display_meta_tags site: 'Share the Food' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <div class="container" id="body">
      <%= render 'layouts/alerts' %>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
