<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required security meta tags -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Required Bootstrap meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <title>Share The Food</title>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
